<html>
    <title>About Page</title>
    <body>
       <h1>{{PageTitle}} information</h1> 
       {{> header}}
       <h3>{{screamIt Message}}</h3>
          {{>  footer}}
       </footer>
    </body>
</html>